<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1097711953076-genicok8335mjpeg79o0qh6oa61ufigi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1097711953076-genicok8335mjpeg79o0qh6oa61ufigi</string>
	<key>API_KEY</key>
	<string>AIzaSyCQAg95kSowqKkkq7sr1kBduOK8sycwrlc</string>
	<key>GCM_SENDER_ID</key>
	<string>1097711953076</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>oonzooassignment.oonzooAssignment</string>
	<key>PROJECT_ID</key>
	<string>oonzooassignment-f2e49</string>
	<key>STORAGE_BUCKET</key>
	<string>oonzooassignment-f2e49.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1097711953076:ios:1f85ba4192b75dfd81a3e1</string>
</dict>
</plist>